a:active
{
    color: yellow;
    text-decoration: underline;
}

a:link
{
    color: cyan;
    text-decoration: underline;
}

a:visited
{
    color:violet;
    text-decoration: underline;
}

body
{
    /*background-image: url(../images/anime-afternoon-city-background-cyq3gcb378sw8wgg.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;*/
    background-color: black;
    margin: 0px;
}

div
{
    color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    margin: auto 10% auto 10%;
    padding-bottom: 2%;
}

figcaption
{
    font-size: 0.6em;
}

figure
{
    margin: 0px;
    text-align: center;
    vertical-align: middle;
}

footer
{
    background-color: rgb(0,0,139,0.3);
    font-size: 1.5em;
    height: 0.5vh;
    margin: 0px;
    padding: 2%;
    text-align: center;
}

h1
{
    text-align: center;
    margin: auto;
    color: white;
    font-size: 4em;
}

h2
{
    font-size: 3em;
    text-align: center;
    margin: auto auto 2% auto;
}

.inner-table
{
    width: 100%;
}

header
{
    background-image: url(../images/9939a85c0c8f0f5.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 80vh;
    margin: 0px;
    position: relative;
}

.header-gradient
{
    background: linear-gradient(0deg, black 0%, rgba(0,212,255,0) 100%);
    border-radius: 0px;
    bottom:0;
    margin:0px;
    position:absolute;
    width:100%;
}

html
{
    scroll-behavior: smooth;
}

hr
{
    border-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    height: 0px;
    opacity: 0.1;
    width: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}

label
{
    font-size: 1.5em;
}

li
{
    line-height: 25px;
}

#main
{
    border-radius: 0px;
    border: none;
    margin: auto;
    padding-top: 1%;
    background-color: rgb(0,0,0,0);/*rgb(173,216,230,0.8);*/
    text-align: center;
}

.navbar
{
    background-color: rgba(255, 255, 255);
    border-radius: 0px;
    height: 2vh;
    margin: 0px;
    opacity: 0.1;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar:hover
{
    background-color: rgba(0, 255, 255, 0.8);
    opacity: 0.8
}

.navbar-anchor
{
    color: rgba(0, 0, 0, 1);
}

.navbar-anchor:link
{
    color: black !important;
    text-decoration: none !important;
}

.navbar-anchor:hover
{
    color: cyan !important;
    text-decoration: underline !important;
}

.navbar-anchor:active
{
    color: yellow !important;
    text-decoration: underline !important;
}

.navbar-table
{
    margin: auto;
    height: 6vh;
    width: 33%;
}

.navbar-table-cell
{
    border: none;
    font-size: 1em;
    height: auto;
    text-align: center;
    vertical-align: middle;
    width: 33%;
}

.sample-table-bottom
{
    border: none;
    margin-bottom: 0px;
    vertical-align: top;
}

.sample-table-h3
{
    color: white;
    display: inline-block;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
    vertical-align: top;
}

.sample-table-top
{
    border: none;    
    line-height: auto;
    text-align: center;
    vertical-align: top;
    width: 33%;
}

.sample-table-image
{
    width: 100%;
    height: auto;
}

.sample-table-span
{
    color: white;
    line-height: 1.5em;
    display: inline-block;
    height: auto;
    padding: 2%;
    vertical-align: top;
    /*vertical-align: middle;*/
    width: auto;
}

table
{
    border-spacing: 0px;
    margin: auto;
    margin-top: 1%;
    width: 90%;
}

td
{
    border-bottom: 1px solid white;
    height: 5vh;
    margin: auto;
    text-align: left;
    font-size: 1.25em;
    padding: 5px;
}

th
{
    border-bottom: 1px solid white;
    margin: auto;
    text-align: left;
    font-size: 1.25em;
    padding: 5px;
}

.thumbnail
{
    margin: 0px;
    width: 50px;
}

.thumbnail-cell-first
{
    margin-left: 10px;
}

ul
{
    line-height: 200%;
}