body
{
    background-image: url(../images/Mountain.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0px;
}

div
{
    margin: auto;
    padding-bottom: 2%;
}

footer
{
    padding: 2%;
    text-align: center;
    height: 1vh;
    font-size: 1.5em;
    background-color:rgba(211, 211, 211, 0.8);
    margin: 0px;
}

h1
{
    text-align: center;
    margin: auto;
    color: black;
    font-size: 4em;
}

h2
{
    font-size: 3em;
    text-align: center;
    margin: auto;
}

.inner-table
{
    width: 100%;
}

header
{
    background-color: rgb(173,216,230,0);
    margin: 0px;
    opacity: 1;
}

hr
{
    border-color: grey;
    border-width: 5px;
    border-style: groove;
    height: 0px;
    width: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#main
{
    padding-top: 1%;
    background-color: rgb(173,216,230,0.8);
}

.sample-table
{
    line-height: auto;
    width: 50%;
    background-color: rgb(255,255,255, 0.3);
}

.sample-table h3
{
    font-size: 1.5em;
    line-height: 1.5em;
    display: inline-block;
    vertical-align: middle;
}

.sample-table-image
{
    width: 50%;
    height: auto;
}

.sample-table span
{
    line-height: 1.5em;
    display: inline-block;
    height: auto;
    padding: 2%;
    /*vertical-align: middle;*/
    width: auto;
}

table
{
    margin: auto;
    margin-top: 1%;
    border-collapse: collapse;
    width: 75%;
}

td,th
{
    margin: auto;
    text-align: center;
    font-size: 1.25em;
    padding: 5px;
    border: 1px solid black;
}